<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bayeux2" version="1.0.0" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="GiphyDotNet" version="2.0.0" targetFramework="net472" />
  <package id="GroupMeClientApi" version="1.0.5" targetFramework="net472" />
  <package id="GroupMeClientPlugin" version="2.0.1" targetFramework="net472" />
  <package id="JsonSubTypes" version="1.7.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharp" version="106.11.4" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="VirtualizingWrapPanel" version="1.5.0" targetFramework="net472" />
  <package id="XamlAnimatedGif" version="1.2.2" targetFramework="net472" />
</packages>